body{
	background-color : #000000;
	margin : 0%;
	color : white;
	padding : 0%;
}

.display{
	display : inline-block;
}

.v{
	vertical-align : top;	
}

.icon1{	
	color : white;
	font-size : 50px;
	margin-left : 2%;	
	vertical-align : top;
}

.div1{
	
	background-color : #2A2A2A;
	margin-left : 2%;
	padding : 0.7%;
	text-align : center;
	border-radius : 34px;
	vertical-align : top;
	margin-top : 0.5%;
}
.icon2{
	font-size : 28px;
}

.icon2:hover{
	color : white;
}
.div1:hover{
	
	background-color : #282828;
}

.div2{
	background-color : #2A2A2A;
	margin-top : 0.6%;
	margin-left : 2%;
	width : 35%;	
	padding : 0.8%;
	height : 30px;
	border-radius : 25px;
	vertical-align : top;
}

.icon3{
	margin-left : 2%;
	display : inline-block;
	vertical-align : top;
	margin-top : 1%;
	font-size : 20px;
	font-weight : bold;
	color :#A6B3B3;
	background-color : #2A2A2A
}
.icon3:hover{
	color : white;
}

input{
	display:inline-block;
	padding : 1%;
	width : 80%;
	background-color : #2A2A2A;
	border:none;
	margin-left : 2%;
	color : white;
	margin-top : 1%;
	outline : none;
	border-right:1px solid #A6B3B3;
}

input::placeholder{	
	color :#A6B3B3;
	font-size : 16px;	
}
.div2:hover{
	border: white;
}

.div3{
	background-color:white;
	margin-left : 14%;
	font-family: "Lato", sans-serif;
	font-weight : bold;
	font-size : 14px;
	padding:0.6%;
	width : 10%;
	text-align : center;
	color : black;
	border-radius : 20px	
}

.div3:hover{
	padding:0.7%;
	font-size : 15px;
}

.div4{
	color : #B3B3B3;
	font-family: "Bebas Neue", sans-serif;
	font-weight : bold;
	font-size : 18px;
	padding:0.6%;
	margin-top : 0.8%;

}
.div4:hover{	
	color : white
}

.div5{
	
	margin-left :1%;
	background-color : #EE709C;
	padding : 0.6%;
	width : 2%;
	text-align :center;
	font-weight : bold;
	border-radius : 30px
}
button{
	background-color : #EE709C;
	border:none;
	font-size : 16px	
}

button:hover{
	color : white;
}

.sec1{
	background-color : #121212;
	margin-top : 0.5%;
	height : 470px;
	width : 20%;
	border : 1px solid #121212;
	font-family: "Bebas Neue", sans-serif;
	margin-left : 1%;
	padding : 1%;
	border-radius : 10px
	
}

.b1{
	margin-top : 2.5%;	
}

.icon4{
	
	background-color : #292929;
	padding : 3%;
	margin-left : 8%;
	color : #7C7C7C;
	border-radius : 15px;
	font-weight : bold;
	margin-top : 1.5%;
	width : 30%;
	font-family: "Bebas Neue", sans-serif;
}
.icon5{
	padding : 2%;
	margin-left : 2%;
	color : #7C7C7C;
	border-radius : 15px;
	font-weight : bold;
}

.icon4:hover,.icon5:hover{
	
	background-color : #292929;
	color : white
}

.div6{
	
	background-color : #292929;
	width : 25%;
	text-align : center;
	padding : 3%;
	margin-top : 6%;
	border-radius : 15px
}

.icon6{
	
	margin-left : 4%;
	margin-top : 5%;
	color : #B3B3B3;
	font-size : 18px;
	padding : 2%;

}

.b2{
	
	color : white;
	margin-left : 5%;
}

.icon6:hover{
	border-radius : 20px;
	background-color : #292929;
	color : white
}

.div7{
	
	margin-left : 50%;
	color : #B3B3B3;
	
	
}

.div7:hover{
	color : white;
	font-size : 17px;
	
}

.div8{
	
	background-color : #292929;
	width : 10%;
	padding : 2%;
	height: 30px;
	margin-top : 1%;
	text-align:center;
	margin-left : 1%;	
	border-radius : 6px
}

.icon7{
	font-size : 28px;
	color : #B3B3B3;
}

.div9{
	
	vertical-align : top;
	margin-left : 3%;
	margin-top : 2%;
	
}
.s1{
	margin-top : 6%;
	font-size : 14px;
	color : #B3B3B3;
	
}
.mdiv{
	
	width : 100%;
	padding : 1%;
	border-radius : 10px;
	margin-top : 5%;
}

.icon8{
	color : white;
	display :none;
	position : absolute;
	font-size : 24px;
	margin-left : 0.6%;
}

.mdiv:hover,.div6:hover,.div11:hover{
	background-color : #1F1F1F;
	
}

.mdiv:hover .div8{
	background-color : black;
	
}


.mdiv:hover .icon8{
	display : block;	
}

.sec2{
	
	overflow:auto;
	font-family: "Bebas Neue", sans-serif;
	overflow : scroll;
	scrollbar-width:none;
	background-color : #121212;
	margin-top : 0.5%;
	width : 75%;
	border : 1px solid #041818;
	height : 50px;
	margin-left : 1%;
	border-radius : 10px;
	vertical-align : top;
	height : 500px;
}
.div10{
	
	background-color :white;
	color : black;
	margin-left : 3%;
	padding : 0.5%;
	border-radius: 20px;
	width : 6%;
	text-align : center
	
}
.div11{
	
	background-color :#3F3F3F;
	margin-top :1%;
	margin-left : 1%;
	padding : 0.8%;
	border-radius: 20px;
	text-align : center;
	width : 8%;
	
}

.div12{
	width : 48%;
	margin-left : 2%;
	margin-top :10%;
	font-size : 25px;
	
}

.icon9{
	font-size : 30px;
	margin-left : 42%;
}
.div13{
	
	position : fixed;
	top:1;
	padding : 1%;
	width : 80%;
	background-color : black;
	border-radius : 10px;
}

.div15{
	background-image : url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaWElFKOE3fb1Iit0--smJ0zJbFAIMKLAttHt6Pd4GMQ&s=10");
	background-repeat : no-repeat;
	width :98%;
	margin-top : 4%;
	padding : 3%;
	height : 190px;
	border-radius : 10px;
}

.b3{
	
	margin-left : 2%;
	margin-top : 4%;
	font-size : 32px;
	
	
}
.b4{
	
	margin-left : 2%;
	margin-top : 4%;
	font-size : 16px;
	color : black;
}

.b5{
	
	
	background-color : #3BE477;
	color : black;
	font-size : 16px;
	padding : 2%;
	margin-top : 6%;
	margin-left : 2%;
	border-radius : 20px;
	width : 32%;
	text-align : center;
	
}
.b6{
	
	margin-top : %;
	margin-left : 4%;
	font-size : 14px
}

.icon10{
	
	margin-left : 45%;
	font-size : 40px;
}

.b5:hover{
	
	background-color : #121212;
	color : white;
	
}
.b6:hover,.icon10:hover{
	color : black;
}

.div16{
	width : 30%;
	margin-left : 4%;
	margin-top :10%;
	vertical-align : top;	
}


.div17{
	
	color :#A6B3B3;	
	font-size : 12px;
}


.div18{
	
	color :white;	
	font-size : 24px;
	margin-top : 2%;
	width : 320px;
}
.div19{
	color :white;	
	margin-top : 4%;
	width : 380px;
	overflow-x : auto;
	scrollbar-width:none;
	white-space:nowrap;
	margin-left : 1%;
	padding : 1%;
}
.b7{
	
	color :#A6B3B3;	
	font-size : 14px;
	margin-left : 5%;
}


.fig1:hover{
	
	background-color : #2A2A2A;
}

.fig1{
	padding:3%;
	margin:1%;
	border-radius : 10px;
}

.icon11{
	
	position : absolute;
	margin-top: 6%;
	margin-left : 6.5%;
	font-size : 40px;
	color :#3BE477;
	display : none;
}

.icon12{
	
	position : absolute;
	margin-top: 6%;
	margin-left : 6%;
	font-size : 40px;
	color :#3BE477;
	display : none;
}

.fig1:hover .icon11,.fig1:hover .icon12{
	display : block;
}


.div20{
	width : 100%;
	margin-top : 5%;
}

.s2{
	vertical-align : top;
	margin-top : 1.5%;
	color : #AEAEAE;
	font-size : 12px;
}
.s3{
	vertical-align : top;
	margin-top : 5%;
	color : #AEAEAE;
	font-size : 16px;
	margin-left : 60%;
}
.fig2{
	width : 2%;
}

.b9{
	color : white;
	font-size : 28px;
	width : 25%;
	
}


.div21{
	width : 100%;	
	overflow-x : auto;
	scrollbar-width:none;
	white-space:nowrap;
	margin-top : 2%;
}

.fig3{
	
	padding:1%;
	margin:1%;
	border-radius : 10px;
	
}


footer{
	
	margin-top : 10%;
}

.list1{
	
	list-style-type : none;
	margin-left : 2%;
}
.list2{
	
	margin-top : 12%;
	color : Grey;
}
.list3{
	font-size : 20px;
}
.list4{
	margin-left : 4%;
	list-style-type : none;
}
.list5{
	margin-left : 10%;
	margin-top : 10%;
	color : Grey;
}

hr{
	border : 0.1px solid black;
	width : 80%;
	color : white;
}
.f{
	
	float : right;
	margin-right : 4%;
	padding : 1%;
}

.list5:hover,.list2:hover{
	color : white;
}		
